body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#ffffff;
    }
    main {
    width: 1200px;
    margin: 50px auto; /* vnější okraj*/
    border: 3px solid #f7f7f7; 
    padding: 10px; /* vnitřní ohraničení */
    }

     h1 {
text-align: center;
     }

     header > hr {
width: 750px;
}
    
header {
    background-color: rgb(15, 83, 146);
    padding: 18px;
    color: white;
    text-align: center;
}

.otazka {

background-color:#eee;
padding: 1em;    
font-size:1.2em;  /* stejne jako 120% */
margin: 25px 0px;

}    

.odpoved {
border-left: 10px solid  rgb(15, 83, 146);
padding-left: 20px;
margin-bottom: 40px;
}


    footer {
padding-top: 15px;
padding-bottom: 5px;
    }